.article {
    padding: 30px 0px 30px 0px;
}

.panel {
    margin: 20px;
}

pre {
    background-color: inherit;
    color: inherit;
    display: ;
    border: 0px;
    font-style: inherit;
    font-size: inherit;
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}